*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image: url(../images/homeback.jpg);
    background-size:cover;
    height: 700px;
    position: relative;
    
}


.one{

    background-color: black;
    height: 65px;
}
.one img{height: 60px;
    width: auto;
       margin-top: 3px;
margin-left: 10px;
}



.sidebar{
  position: relative;
  width: 240px;
  left: -240px;
  height: 395px;
  background: rgba(0,0,0,.5);
  transition: all .5s ease;
}
.sidebar header{
  font-size: 28px;
    margin-left: -50px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
    text-decoration: none;
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}


.sidebar a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
}


.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #btn:hover,label #cancel:hover
{
    color: #b93632;
}

label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 180px;
  opacity: 1;
    z-index: 1;
  visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}
.hi-slide { position: relative; 
    width: 754px;
    height: 292px;
    margin-top: -300px ;
margin-left: 350px;
}
            
.hi-slide .hi-next,
.hi-slide .hi-prev 
            { position: absolute;
              top: 50%; 
              width: 40px;
              height: 40px; 
              margin-top: -20px;     
                border-radius: 50px; 
                 
                
              line-height: 40px;
              text-align: center; 
              cursor: pointer;
              background-color: #fff; 
              color: black;               
              transition: all 0.6s;
              font-size: 20px; 
                font-weight: bold;
            }
           .hi-slide .hi-next:hover, 
            .hi-slide .hi-prev:hover 
            {
            opacity: 1; 
            background-color: #fff;  
            }
            
           .hi-slide .hi-prev { left: -60px; }
            
    .hi-slide .hi-prev::before { content: '<'; }
    .hi-slide .hi-next { right: -60px; }
    .hi-slide .hi-next::before { content: '>'; }
    
            .hi-slide > ul
                    { 
                        list-style: none; 
                        position: relative;
                        width: 754px; 
                        height: 292px; 
                        margin: 0;
                        padding: 0;
            }
            
            
        .hi-slide > ul > li {
            overflow: hidden; 
            position: absolute; 
            z-index: 0; 
            left: 377px;
            top: 146px; 
            width: 0; 
            height: 0; 
            margin: 0; 
            padding: 0;
            border: 3px solid #fff;              
            background-color: #333; 
            cursor: pointer; }
            
        .hi-slide > ul > li > img { width: 100%; height: 100%; background-position: center;}




#footer{
   background:black;
   padding: 50px;
    list-style: none;
    
    margin-top: -50px;
    
}



#footer .partners{
  margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 30px;
}

#footer .partners ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    list-style: none;
}

#footer .partners li a{
  
	width: 101px;
	height: 100px;
  display: block;
  margin: 0 5px;
}

#footer .partners li a img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 2px solid #fff;
}
#footer .partners li a img:hover{
     border: 5px solid red;
      

}
#footer .social_media {
  display: flex;
  
  text-align: center;
  align-items: center;
  justify-content: center;
   
    

}
#footer .social_media ul{
  display: flex;
}
#footer .social_media ul li{
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: .5s;
    line-height: 60px;
    text-align: center;
}
#footer .social_media ul li i{
    text-align: center;
    line-height: 60px;
    color: #fff;
}
#footer .social_media ul li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}
#footer .social_media ul li:nth-child(1):before{
  background: #4267B2;
}
#footer .social_media ul li:nth-child(2):before{
  background: #1DA1F2;
}
#footer .social_media ul li:nth-child(3):before{
  background: #E1306C;
}
#footer .social_media ul li:nth-child(4):before{
  background: #2867B2;
}
#footer .social_media ul li:nth-child(5):before{
  background: #ff0000;
}
#footer .social_media ul li:hover:before{
  filter: blur(10px);
    transform: scale(1.3s)
  
  
}
#footer .social_media ul li:nth-child(1):hover:before{
  box-shadow: 0 0 15px #4267B2;
}
#footer .social_media ul li:nth-child(2):hover:before{
  box-shadow: 0 0 15px #1DA1F2;
}
#footer .social_media ul li:nth-child(3):hover:before{
  box-shadow: 0 0 15px #E1306C;
}
#footer .social_media ul li:nth-child(4):hover:before{
  box-shadow: 0 0 15px #2867B2;
}
#footer .social_media ul li:nth-child(5):hover:before{
  box-shadow: 0 0 15px #ff0000;
}
#footer .social_media ul li:nth-child(1):hover{
  color: #456cba;
 box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}
#footer .social_media ul li:nth-child(2):hover{
  color: #26a4f2;
  box-shadow: 0 0 15px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}
#footer .social_media ul li:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}
#footer .social_media ul li:nth-child(4):hover{
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}
#footer .social_media ul li:nth-child(5):hover{
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}



