body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image: url(../images/regback.jpg);
    background-size:cover;
    height: 1200px;
     
}



.one{

    background-color: black;
    height: 65px;
}
.one img{height: 60px;
    width: auto;
       margin-top: 3px;
margin-left: 10px;
}
.sidebar{
  position: relative;
  width: 240px;
  left: -240px;
  height: 330px;
  background: rgba(0,0,0,.5);
  transition: all .5s ease;
    margin-top: 0px;
}
.sidebar header{
  font-size: 28p30
    margin-left: -50px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
    text-decoration: none;
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}


.sidebar a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
}


.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
   

}
label #btn:hover,label #cancel:hover
{
    color: #b93632;
}

label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 180px;
  opacity: 1;
    z-index: 1;
  visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}
.box
{margin-top: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
transform:translate(-50%,-50%);
    width:600px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.box .inputbox
{
    position: relative;
}
.box .inputbox input
{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color:#fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
}
.box .inputbox label
{
    font-family:cursive;
position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 0;
    font-size: 10px;
    color: #fff;
    pointer-events:none;
    transition: .5s;
    
}

.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
    top:-18px;
    left: 0;
    color: #03a9f4;
    font-size:12px; 
}
.box input[type="submit"]
{font-family: cursive;
background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background-color: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
   float:right;
}
.box .forgot{
    font-family: cursive;
font-size: 15px;
    color:  #fff;
    float: right;
    margin-left: 10px;
font-weight: 300;
    
}
.box .forgot a{
    font-size: 13px;
    text-decoration: none;
    color:  #03a9f4;
    
}
.box .forgot a:hover{
    color: crimson;
}
.quote{
  text-align: center;
    position: relative;
    margin-top: 35px;
    margin-left: 0px;
    
    left: 50%;
transform:translate(-50%,-50%);
 
   
    background: rgba(0,0,0,.8);
 height: 120px;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
 


    line-height: 120px;
   font-family: 'Gloria Hallelujah', cursive;
    font-weight: 900;
    font-size:50px;
   color: aliceblue;
    text-shadow:5px 5px 5px   #03a9f4;
    
}

#footer{
   background:black;
   padding: 50px;
    list-style: none;
    margin-top: 650px;
    
}



.#ooter .partners{
  margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 30px;
}

#footer .partners ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    list-style: none;
}

#footer .partners li a{
  
	width: 101px;
	height: 100px;
  display: block;
  margin: 0 5px;
}

#footer .partners li a img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 2px solid #fff;
}
#footer .partners li a img:hover{
     border: 5px solid red;
      

}
#footer .social_media {
  display: flex;
  
  text-align: center;
  align-items: center;
  justify-content: center;
   
    

}
#footer .social_media ul{
  display: flex;
}
#footer .social_media ul li{
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: .5s;
    line-height: 60px;
    text-align: center;
}
#footer .social_media ul li i{
    text-align: center;
    line-height: 60px;
    color: #fff;
}
#footer .social_media ul li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}
#footer .social_media ul li:nth-child(1):before{
  background: #4267B2;
}
#footer .social_media ul li:nth-child(2):before{
  background: #1DA1F2;
}
#footer .social_media ul li:nth-child(3):before{
  background: #E1306C;
}
#footer .social_media ul li:nth-child(4):before{
  background: #2867B2;
}
#footer .social_media ul li:nth-child(5):before{
  background: #ff0000;
}
#footer .social_media ul li:hover:before{
  filter: blur(10px);
  
  
}
#footer .social_media ul li:nth-child(1):hover:before{
  box-shadow: 0 0 15px #4267B2;
}
#footer .social_media ul li:nth-child(2):hover:before{
  box-shadow: 0 0 15px #1DA1F2;
}
#footer .social_media ul li:nth-child(3):hover:before{
  box-shadow: 0 0 15px #E1306C;
}
#footer .social_media ul li:nth-child(4):hover:before{
  box-shadow: 0 0 15px #2867B2;
}
#footer .social_media ul li:nth-child(5):hover:before{
  box-shadow: 0 0 15px #ff0000;
}
#footer .social_media ul li:nth-child(1):hover{
  color: #456cba;
  box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}
#footer .social_media ul li:nth-child(2):hover{
  color: #26a4f2;
  box-shadow: 0 0 15px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}
#footer .social_media ul li:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}
#footer .social_media ul li:nth-child(4):hover{
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}
#footer .social_media ul li:nth-child(5):hover{
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}
.quote{
  text-align: center;
    position: absolute;
    margin-top: 35px;
    margin-left: 0px;
    
   
    width:600px;
   
    background: rgba(0,0,0,.8);
 height: 80px;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
 
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
    line-height: 80px;
   font-family: 'Gloria Hallelujah', cursive;
    font-weight: 900;
    font-size:30px;
   color: aliceblue;
    text-shadow:5px 5px 5px   #03a9f4;
    
}